/* Mobile first (default) */
div {
  width: 100%;
  margin-bottom: 10px;
}

img {
  width: 100%;
  height: auto;
}

/* Tablet View: ≥ 772px */
@media screen and (min-width: 772px) {
  div {
    width: 45vw;
    display: inline-block;
    vertical-align: top;
  }

  img {
    max-height: 30vh;
    width: auto;
  }
}

/* Large Screen View: ≥ 998px */
@media screen and (min-width: 998px) {
  div {
    width: 30vw;
  }
}
